.mt-0 {
  margin: 0;
}

/* Header navbar*/
.header {
  height: 120px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}

.header__navbar-item {
  position: relative;
  margin: 0 8px;
}

.header__navbar-item:nth-child(2) {
  margin: 0;
}

.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  opacity: 0.6;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item-link--strong {
  font-weight: 500;
}

.header__navbar-item--separate {
  padding-right: 8px;
  border-right: 1px solid var(--white-color);
}

.header__navbar-user {
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__navbar-user-name {
  margin-left: 8px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-menu {
  padding: 0;
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  width: 160px;
  list-style: none;
  z-index: 1;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
  animation: fadeIn ease 0.3s;
}

.header__navbar-user-menu ::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: 0;
  width: 100%;
  height: 20px;
  background-color: transparent;
}

.header__navbar-user-menu ::after {
  content: "";
  border-style: solid;
  border-width: 20px 27px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0px;
  top: -30px;
}

.header__navbar-user-item {
}

.header__navbar-user-item-link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--text-color);
  display: block;
  padding: 8px 16px;
}

.header__navbar-user-item-link:hover {
  background-color: #fafafa;
}

.header__navbar-icon-link {
  margin: 0 4px;
}

.header__navbar-icon {
  font-size: 1.8rem;
}

.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  top: 180%;
  left: 0;
  right: 0;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease 0.3s;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qr::before,
.header__notify::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  width: 100%;
  height: 20px;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
  padding: 0 11px;
}

.header__qr-download-img {
  height: 16px;
}

.header__navbar-has-qr:hover .header__qr {
  display: block;
}

.header__notify {
  position: absolute;
  background-color: var(--white-color);
  top: 180%;
  right: 0;
  width: 404px;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  display: none;
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
  display: flex;
}

.header__notify-header h3 {
  color: #666;
  font-weight: 400;
  font-size: 1.4rem;
  margin: auto;
}

.header__notify-list {
  padding-left: 8px;
}

.header__notify-item {
  padding-bottom: 8px;
  background-color: #fff2ee;
}

.header__notify-item:hover {
  background-color: var(--white-color);
}

.header__notify-link {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
}

.header__notify-img {
  width: 60px;
  object-fit: contain;
}

.header__notify-info {
  display: flex;
  flex-wrap: wrap;
  color: #666;
  align-content: space-between;
  margin-left: 12px;
}

.header__notify-name {
  font-weight: 500;
}

.header__notify-description {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-top: 2px;
}

.header__navbar-has-notify {
  z-index: 1;
}

.header__navbar-has-notify:hover .header__notify {
  display: block;
  transform-origin: calc(100% - 20px) top;
  animation: notifyGrowth ease-in 0.25s;
}

.header__notify-footer {
  text-align: center;
  margin: 4px 0;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 4px 16px;
  font-size: 1.2rem;
  font-weight: 400;
}

@keyframes notifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify::after {
  content: "";
  border-style: solid;
  border-width: 20px 30px;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0px;
  top: -35px;
}

/* Auth form*/

.auth-form {
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
}

.auth-form__form {
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}

.auth-form__aside {
  margin-top: 16px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__control {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__socials {
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between;
}

.auth-form__socials a {
  max-width: 180px;
}

.auth-form__socials-icon {
  font-size: 1.6rem;
  padding: 0 4px;
}

.auth-form__socials-fb {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials-gg {
  color: #666;
  background-color: var(--white-color);
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
}

.auth-form__help-separate {
  border-right: 1px solid var(--border-color);
  display: block;
  height: 22px;
  margin: -2px 16px 0px;
}

.auth-form__forgot {
  color: var(--primary-color);
}

/* Header search*/
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
}

.header__logo-img {
  width: 150px;
}

.header__search-bar {
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  display: inline-block;
  padding: 0 8px;
  position: relative;
  cursor: pointer;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  margin-top: 6px;
  cursor: pointer;
}

.header__cart-list::after {
  content: "";
  position: absolute;
  right: -1px;
  top: -30px;
  border-width: 20px 22px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 8px);
  right: -2px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 2px 10px #ccc;
  display: none;
  animation: fadeIn ease-in 0.2s;
  cursor: default;
  z-index: 1;
}

.header__cart-has-no-item {
  padding: 28px 0;
}

.header__cart-has-no-item .header__cart-no-cart-img,
.header__cart-has-no-item .header__cart-no-cart-msg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header__cart-no-cart-img {
  width: 60%;
  display: none;
}

.header__cart-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 12px;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-notice {
  position: absolute;
  top: -4px;
  right: -4px;
  padding: 1px 7px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-radius: 10px;
  border: 2px solid #ee4d2d;
  color: var(--primary-color);
  background-color: var(--white-color);
}

.header__cart-heading {
  text-align: left;
  margin: 12px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  margin: 0;
  height: 60vh;
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 55px;
  height: 55px;
  margin: 12px;
}

.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  margin: 0;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}

.header__cart-item-quantity {
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-body {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.header__cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}

.header__cart-item-remove {
  font-size: 1.4rem;
  color: #757575;
}

.header__cart-item-remove:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
  opacity: 0.8;
}

.header__search-bar-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-bar-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-history {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  box-shadow: 0 1px 5px #666;
  border-radius: 2px;
  display: none;
  overflow: hidden;
  z-index: 1;
}

.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

.header__search-bar-input:focus ~ .header__search-history {
  display: block;
}

.header__search-select {
  border-left: 1px solid var(--border-color);
  padding: 8px 0px 8px 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: #4a4a4a;
  margin: 0 16px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}

.header__search-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__search-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

.header__search-option {
  position: absolute;
  right: 0;
  top: calc(100% - 2px);
  width: 125px;
  padding-left: 0;
  box-shadow: 0 0 3px #ccc;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  background-color: transparent;
  position: absolute;
  top: -20px;
  left: 0;
}

.header__search-option-item {
  list-style: none;
  background-color: var(--white-color);
  padding: 8px 8px;
}

.header__search-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.header__search-option-item i {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-left: 16px;
  display: none;
}

.header__search-option-item:first {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 24px;
}

/*App container */

.app__container {
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 36px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  font-size: 1.6rem;
  color: var(--text-color);
  margin: 0;
  padding: 12px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: 400;
}

.category__heading-icon {
  font-size: 1.6rem;
  margin-right: 8px;
}

.category-list {
  padding: 8px 0;
  list-style: none;
  margin-left: 16px;
}

.category-list-item {
  position: relative;
}

.category-list-item:first-child::before {
  display: none;
}

.category-list-item::before {
  content: "";
  border-top: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  left: 6px;
  right: 16px;
}

.category-list-item-link {
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  right: 0;
  transition: right linear 0.1s;
}

.category-list-item-link:hover {
  color: var(--primary-color);
  right: -4px;
}

.category-list-item--active .category-list-item-link {
  color: var(--primary-color);
}

.category-list-item--active .category-list-item-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  border: 4px solid;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--primary-color);
}

/* Home sort-bar*/
.home-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}

.home-filter__page {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.home-filter__page-num {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.home-filter__page-btn {
  text-decoration: none;
  flex: 1;
  background-color: var(--white-color);
  display: flex;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #ccc;
}

.home-filter__page-btn--disabled {
  background-color: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #ccc;
  cursor: default;
}

.home-filter__page-icon {
  margin: auto;
  font-size: 1.2rem;
}

/* Home product*/
.home-product {
  margin-bottom: 10px;
}

.home-product-item {
  background-color: var(--white-color);
  margin-top: 10px;
  text-decoration: none;
  display: block;
  position: relative;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: transform ease-in-out 0.1s;
  will-change: transform;
}

.home-product-item:hover {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
}

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  padding: 0 10px;
  margin: 10px 0;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.home-product-item__price {
  font-size: 1.4rem;
  margin-left: 10px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.home-product-item__price-old {
  color: #666;
  text-decoration: line-through;
}

.home-product-item__price-new {
  color: var(--primary-color);
  margin-left: 4px;
}

.home-product-item__box-action {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0 10px;
}

.home-product-item__like {
}

i.home-product-item__like-icon-filled {
  color: var(--primary-color);
}

.home-product-item__like--liked .home-product-item__like-icon-filled {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__rating {
  color: #ccc;
  transform: scale(0.8);
  transform-origin: right;
  margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 6px;
}

.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0 10px;
  margin-top: 4px;
  color: #595959;
}

.home-product-item__favorite {
  position: absolute;
  top: 10px;
  left: -4px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--primary-color);
  line-height: 1.6rem;
  padding: 0 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favorite::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid var(--primary-color);
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-item__favorite i {
  font-size: 0.9rem;
  padding: 0 4px 0 0;
  position: relative;
  top: -1px;
}

.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 40px;
  background-color: rgba(255, 216, 64, 0.9);
  text-align: center;
  padding: 4px 0;
}

.home-product-item__sale-off-percent {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.home-product-item__sale-off-label {
  font-size: 1.3rem;
  color: var(--white-color);
}

.home-product-item__sale-off::before {
  content: "";
  position: absolute;
  bottom: -8px;
  border-style: solid;
  border-width: 0 20px 8px;
  left: 0;
  border-color: rgba(255, 216, 64) rgba(255, 216, 64) transparent
    rgba(255, 216, 64);
}

.home-product__pagination {
  margin-top: 48px;
  margin-bottom: 32px;
}

/* Footer*/
.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 12px;
}

.footer__heading {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer__list {
  padding-left: 0;
  list-style: none;
}

.footer__list-item-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #666;
  padding: 8px 0;
  display: block;
}

.footer__list-item-link:hover {
  color: var(--primary-color);
}

.footer__list-item-icon {
  font-size: 1.8rem;
  padding-right: 4px;
}

.footer__download {
  display: flex;
}

.footer__download-apps {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__download-qr {
  width: 80px;
  height: 80px;
  border: 1px solid var(--border-color);
}

.footer__download-apps-img {
  height: 20px;
  margin: 8px 0;
}
.footer__copyright {
  font-size: 1.6rem;
  margin: 0 auto;
}
